<div class="row">
  <div class="col">
    <h5>Query all user comments</h5>
    <br />
    <form>
      <div class="form-group row">
        <label class="col-12 col-sm-2 col-form-label" for="query-type-comment">Query </label>
        <div class="col-12 col-sm-10">
          <select id="query-type-comment" class="form-control">
            <option value="prefix">comments by user name prefix</option>
            <option value="keyword">comments whose user or text contain a certain character sequence</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-12 col-sm-2 col-form-label" for="parameter-comment">Parameter </label>
        <div class="col-12 col-sm-10">
          <input type="text" id="parameter-comment" class="form-control" placeholder="parameter taken by the query">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-12 col-sm-2 col-form-label" for="limit-comment">Result Limit </label>
        <div class="col-12 col-sm-10">
          <input type="text" id="limit-comment" class="form-control" value="10">
        </div>
      </div>
    </form>
  </div>
</div>

<br />

<div class="row">
  <div class="col">
    <div id="comments-container" style="overflow: scroll;">
      <div class="row">
        <div class="col">
          <div style="padding: 60px 15px">
            <h2 class="placeholder text-center" style="">Start searching for comments...</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
