<nav class="navbar navbar-light bg-faded navbar-toggleable-md">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleCenteredNav" aria-controls="navbarsExampleCenteredNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
    <img src="../../img/camera.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Movie App
  </a>

  <div class="navbar-collapse justify-content-md-end collapse" id="navbarsExampleCenteredNav" aria-expanded="false">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://vsis-www.informatik.uni-hamburg.de/teaching/ss-17/dis/" target="_blank">DIS Website</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://docs.mongodb.org/" target="_blank">MongoDB Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.baqend.com/guide/" target="_blank">Baqend Guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.mongodb.com/manual/reference/operator/query/#query-selectors" target="_blank">MongoDB query operators</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://docs.mongodb.org/manual/tutorial/" target="_blank">MongoDB Tutorials</a>
      </li>
      {{> login }}
    </ul>
  </div>

</nav>

<!-- Jumbotron -->
<div class="jumbotron text-center">
  <h2>Movie App - DIS Task</h2>
  <p id="status" class="lead">
    Connecting to Baqend
  </p>
</div>
